*{
    margin: 0px;;
}
.banner{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    margin-bottom: 178px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}
.btn{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
}
.pic{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
}
.banner-content{
    margin-top: 197px;
    margin-left: 240px;
    margin-right: 97px;
    
}
.feature{
    width: 1920px;
    height: 4867px;
    background: #FFF;
    margin-left: 240px;
    margin-right: 240px;
}
.section-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}
#section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.feature-pic{
    margin-top: 48px;
    margin-left: 240px;
    margin-bottom: 32px;
    display: flex;
    gap: 24px;
    width: 464px;
    height: 538px;
    
}
#img1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
}
#img2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px;
}
#img3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px;
}

.pic-title{
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
    gap: 307px;
    margin-bottom: 128px;
    margin-top: 32px;
}
.options{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 128px;
    text-align: center;
}
.logo{
    display: flex;
    
    
}

.logo-img{
    width: 88px;
    height: 88px;
    margin-top: 86px;
    margin-bottom: 24px;
}
.logo-img1{
    margin-right: 356px;
    margin-left: 317px;
}
.logo-img2{
    margin-right: 271px;
}
.logo-img3{
    margin-right: 232px;
}

.logo-description{
    display: flex;
    gap: 100px;
    justify-content: center;
    text-align: center;
  
}
.deal{
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 186px;
    margin-bottom: 128px;
   
}
.deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 230px;
    margin-left: 423px;
    margin-bottom: 24px;
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 395px;
    margin-bottom: 52px;
}
.btn2{
    margin-left: 603px;
    margin-bottom: 162px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
}
#fuldani{
    width: 318px;
    height: 420px;
    margin-top: 100px;
    margin-right: 429px;
    margin-bottom: 100px;
    
}
.insta-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
    margin-left: 870px;
    margin-right: 870px;
}
.insta-des{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 663px;
    margin-right: 663px;
    margin-bottom: 48px;
}
.insta-img{
    display: flex;
    margin-left: 240px;
    gap: 24px;
}
.insta{
    margin-bottom: 128px;
    background: #FFF;
}
.subscribe{
    max-width: 1440px;
    height: 450px;
    background-image: url("images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 128px auto;
    padding: 120px;
    text-align: center;
    box-sizing: border-box;

}
.sub-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.sub-des{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;

}
.inp{
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    padding: 20px;
    box-sizing: border-box;

}
.online-order{
    background: #ac9499;
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 70px;
}
.online-order input{
    width:500px;
    height: 50px;
    margin: 10px;
    
}
.online-order select{
    width:500px;
    height: 50px;
    margin: 10px;
}
span{
    color: #E55473;
}

.footer{
    background: #111010;
   
    padding: 128px 0px;
}
.final-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.final-des{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}
.final-foot{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
